body{
  font-family: "futura-pt", sans-serif;
  background: url('../images/body-bg.png') repeat;
  font-size: 15px;
}
.clear{
  clear: both;
}

h1,h2,h3,h4,h5{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;

}

.page{
  background: url('../images/bg.png') repeat-y center;
}

/* header*/
nav.navigation{
  float: right;
  font-family: "futura-pt-condensed";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 14px;

}

nav.navigation a{
  color: #000;
  text-decoration: none;
}

#region-content a img{
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#region-content a img:hover{
  opacity: 0.8;
}

a, a:link, a:visited{
  color: #4bcbd9;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}



/*search*/
form#search-block-form{
  float:right;
  margin: 2px 10px 0 0;
  width: 140px;
  height: 29px;
  background: url('../images/search-field.png') no-repeat;
}

form#search-block-form input.form-text{
  width: 110px;
  color: #666;
  background: transparent;
  border: none;
  margin:3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 1;
}
.block-search-button, .block-search{
  /*position: absolute;
  top:1px;*/
}

.block-search-button{
}

span#search-button-toggle{
  cursor: pointer;
  margin: 0 30px 0 34px;
}





/*social and login*/
#user-links{
  float: left;
  width: 140px;
}

.block-general{
  float: left;
  margin-top: 5px;
}

.block-general .contextual-links-trigger{
  display: none !important;
}
.social-button{
  margin-right: 30px;
}





/*slider*/
/*flexslider styling */

.flexslider .slides .views-field-field-image img {
  width: 100%;
  height: auto;
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center;
}

.flexslider {
  margin: 0;
  background: #fff;
  border: none;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  zoom: 1;
}

.flex-control-nav{
  display: none;
}

.flex-direction-nav a {
  width: 28px;
  height: 47px;
  background: url('../images/slider-nav.png') no-repeat 0 0;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  margin-top: -45px;
}
.flexslider:hover .flex-prev {
  opacity: 0;
  left: 3%;
}

.flexslider:hover .flex-next {
  opacity: 0;
  right: 3%;
}

ul.slides li{
  position: relative;
  overflow: hidden;
}

ul.slides li .views-field-field-description{
  position: absolute;
  bottom: -130px;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
}

ul.slides li .views-field-field-description .field-content{
  padding: 20px 3%;
}

ul.slides li .views-field-field-description h2.slide-title,
ul.slides li .views-field-field-description p.slide-description{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  text-shadow: 3px 3px 3px #000;
  filter: dropshadow(color=#000, offx=3, offy=3);
}

ul.slides li  .views-field-field-link{
  position: absolute;
  top: 40px;
  right: 3%;
}

ul.slides li .views-field-field-link img{
  width: 75px !important;
  height: 75px;
  opacity: 0;
}

ul.slides li .views-field-field-link a:hover img{
  opacity: 1;
}

ul.slides li .views-field-edit-node{
  position: absolute;
  top: 40px;
  left: 3%;
  font-size: 20px;
}

ul.slides li:hover .views-field-edit-node a{
  display: inline;
}

ul.slides li .views-field-edit-node a{
  color: #fff;
  text-decoration: none;
  display: none;
}
ul.slides li .views-field-edit-node a:hover{
  text-decoration: underline;
}

ul.slides li .views-field-field-category-image img{
  max-width: 100%;
}


/*front page*/
/* front content*/



/*latest view*/
.view-latest .views-row{
  height: 165px;
  margin-bottom: 20px;
}

.view-latest .views-row img{
  max-width: 100%;
  height: auto;
}

/*title is condensed medium 18px caps in 38d530 */
.view-latest .views-field-title{
  font-family: "futura-pt-condensed";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  bottom:15px;
  left:15px;
  line-height: 15px;
}

.view-latest .views-field-title a{

  text-decoration: none;
}


/*customise colours based on taxonomy term*/
/*news*/
.view-latest .views-field-title a{
  color: #ADDE36;
}

/*features*/
.view-latest .views-field-title .tid-7 a,
.view-latest .views-field-title .tid-8 a,
.view-latest .views-field-title .tid-9 a,
.view-latest .views-field-title .tid-10 a,
.view-latest .views-field-title .tid-11 a{
  color: #4BCBD9;
}

/*review*/
.view-latest .views-field-title .tid-6 a{
  color: #38D530;
}

/*sponsored*/
.view-latest .views-field-title .tid-12 a{
  color: #5DD4BF;
}





.view-latest .views-field-title a:hover{
  text-decoration: underline;
}

.view-latest .views-field-comment-count{
  position: absolute;
  bottom: 9px;
  right:15px;
  background: url("../images/comment.png") no-repeat right;
  padding-bottom: 3px;
}

.view-latest .views-field-comment-count a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: arial, sans-serif;
  line-height: 14px;
  padding-right: 20px;
  padding-bottom: 3px;
}
.view-latest .views-field-comment-count a:hover{
  text-decoration: underline;
}

.view-latest .views-field-nid{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("../images/vignette.png") no-repeat;

}

.view-latest .views-field-nid .field-content{
  display: block;
  width: 100%;
  height: 100%;
}

.view-latest .views-field-nid .field-content .vignette{
  width: 100%;
  height: 100%;
}

/*news */
.view-latest .views-field-nid .field-content .vignette{
  background:url("../images/cat-band-news.png") bottom no-repeat;
}

/*features*/
.view-latest .views-field-nid .field-content .vignette.tid-7,
.view-latest .views-field-nid .field-content .vignette.tid-8,
.view-latest .views-field-nid .field-content .vignette.tid-9,
.view-latest .views-field-nid .field-content .vignette.tid-10,
.view-latest .views-field-nid .field-content .vignette.tid-11{
  background:url("../images/cat-band-feature.png") bottom no-repeat;
}

/*reviews*/
.view-latest .views-field-nid .field-content .vignette.tid-6{
  background:url("../images/cat-band-reviews.png") bottom no-repeat;
}

/*sponsored*/
.view-latest .views-field-nid .field-content .vignette.tid-12{
  background:url("../images/cat-band-sponsor.png") bottom no-repeat;
}




/*breadcrumb*/
.breadcrumb{
  text-transform: uppercase; 
  font-size: 10px;
  padding-bottom: 15px;
  font-family: arial, sans-serif; 
}






/*feature layout */
/*slides*/
.flex-flexslider{
  position:relative;
}

.flex-flexslider .slider-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.flex-flexslider .slider-overlay .inner{
  padding: 20px 3%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  text-shadow: 3px 3px 3px #000;
  filter: dropshadow(color=#000, offx=3, offy=3);
}

/*border*/

.view-feature-border{
  height: 2px;
}

.view-feature-border img{
  vertical-align: top;
  max-width: 100%;
}


/*taxonomy link and title*/

.view-feature .views-field-term-node-tid{
  font-family: "futura-pt-condensed";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}


/*features*/
.view-feature .views-field-term-node-tid .tid-7,
.view-feature .views-field-term-node-tid .tid-8,
.view-feature .views-field-term-node-tid .tid-9,
.view-feature .views-field-term-node-tid .tid-10,
.view-feature .views-field-term-node-tid .tid-11{
  color: #4BCBD9;
}

/*review*/
.view-feature .views-field-term-node-tid .tid-6{
  color: #38D530;
}

/*sponsored*/
.view-feature .views-field-term-node-tid .tid-12{
  color: #5DD4BF;
}






.view-feature h1{
  font-size: 22px;
  margin-bottom: 5px;
}

.view-feature .views-field-field-summary{
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}



.author-name{
  text-transform: uppercase;
}

footer.submitted{
  margin-bottom: 5px;
  font-size: 12px;
}



/*inline images*/
.field-name-body img{
  max-width: 100%;
  height: auto;
}

.field-name-body .floatleft img{
  margin: 5px 10px 10px 0;
}

.field-name-body .floatright img{
  margin: 5px 0 10px 10px;
}



/* image gallery */
.field-name-field-gallery-images img{
  max-width: 100%;
  height: auto;
}

.field-name-field-gallery-images .field-item{
  margin-bottom: 20px;
}


/*feature border 1*/
.block-feature-border-block-1, .block-feature-border-block-2{
  margin: 30px 0;
}



/*author profile */
.block-author-profile-block h2.block-title{
  font-family: "futura-pt-condensed";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 14px;  
}

.block-author-profile-block .views-field-field-name{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.block-author-profile-block .views-field-picture{
  float: left;
  margin: 6px 30px 30px 0;
}

.block-author-profile-block .views-field-field-bio p{
  margin-bottom: 5px;
}