/*zone layouts and header*/


#section-header{

    height: 80px;
    background-color: #fff;
    border-bottom: 4px solid #000;
    position: fixed;
    z-index: 200;
    width: 100%;
}

#hero{
    margin: 84px 0 30px 0;
    width: 100%;
    float: left;
}

#region-hero{
    width: 100%;
    margin: 0;
}

/*branding*/
.logo-img{
    margin-top:3px;
}


/*navigation*/
nav.navigation{
    margin-top: 35px;
}

nav.navigation li{
    width: 135px;
    height: 34px;
    display: inline-block;
    padding: 0;
    text-align: center;
    background-position: 0 0;
}

nav.navigation li.last{
    margin-right: 0;
}

nav.navigation li a{
    background-color: #fff;
    
}

nav.navigation li:hover,
nav.navigation li.active-trail{
    background-position: 0 -34px !important;
}

nav.navigation li.menu-367{
    background: url('../images/nav/navbar-features.png') no-repeat;
}
nav.navigation li.menu-368{
    background: url('../images/nav/navbar-reviews.png') no-repeat;
}

nav.navigation li.menu-369{
    background: url('../images/nav/navbar-news.png') no-repeat;
}

nav.navigation li.menu-370{
    background: url('../images/nav/navbar-brands.png') no-repeat;
}

nav.navigation li.menu-371{
    background: url('../images/nav/navbar-dir.png') no-repeat;
    width: 149px;
}
